/* Tablet */
html { 
	font-size: 2vw;
} 

/* Desktop */
@media all and (min-width: 1000px) { 
  html { 
  	font-size: 21px; 
  }
}

/* Phone */
@media all and (max-width: 520px) { 
  html { 
  	font-size: 16px;
  }
}

html {
	--light-brown: rgb(224, 217, 207);
	--dark-brown: rgb(78, 72, 80);
}

body {
	background-color: var(--light-brown);
}

* {
	padding: 0;
	margin: 0;
	color: var(--dark-brown);
	font-family: Helvetica, Calibri, sans-serif;
	text-rendering: optimizeLegibility;
}

/* Grid for Tablet or bigger */
@media all and (min-width: 520px) {
	body {	
		display: grid;
		grid-template-columns: 33vw 38vw 14vw 9vw 4vw;

		grid-template-rows: 100vh;
		grid-gap: 0.6em;
	}
}

p {
	line-height: 1.3;
	max-width: 14em;
	text-align: right;
}

img {
	display: block;

	grid-column: 2 /5;
	grid-row: 1;
	z-index: -1;

	height: 100vh;
	width: 100%;
	object-fit: cover;
	object-position: top left;
}



header {
	grid-column: 3 / 4;
	grid-row: 1;


	background-color: var(--light-brown);
	height: 100vh;

	display: flex;
	justify-content: center;


}

h1 {
	writing-mode: vertical-lr;
	transform: rotate(180deg);

	margin-bottom: 1rem;


	font-size: 6.5em;
	display: block;
}

.description {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	flex: end;

	margin-top: 1rem;
	margin-bottom: 1rem;

}

.subhead {
	align-self: flex-end;
	font-style: italic;
}

ul {
	text-align: right;
}

li {
	text-decoration: none;
	list-style-type: none;
	line-height: 1.3;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Phone */
@media all and (max-width: 520px) {
	img {
		width: 100vw;
		height: 100vh;
		object-position: top center;
	}
	.description {
		margin-left: 1rem;
		margin-right: 33vw;
	}
	.subhead {
		margin-bottom: 0.6rem;
	}
}





























